extends baseEmail

block content
  p Hi #{first_name},
  h2 Carus Recycling Password Reset
  p #{subject}
  h4 Here is your password reset link, it expires in 10minutes
  a #{link}
  p Ignore this mail if you did not initiate the request.
  p - Carus Recycling
