extends baseEmail

block content
  h4(style="font-family: bold") Hi #{first_name},
  h2 You've requested to reset your password
  p Here is your password reset link, it expires in 10minutes. Please do not share with anyone.
  p(class="btn") 
    a(href=link) Click here to reset your password
  p Or copy the link below and paste in your browser
  p
    a(class="primary" href=link) #{link}
  p
  p 
    em Ignore this mail if you did not initiate the request.
  p - Carus Recycling
