extends baseEmail

block content
  h4(style="font-family: bold") Hi #{first_name},
  p You've requested to reset your password
  p Here is your password reset link, it expires in 10minutes. Please do not share with anyone.
  |
  a(class='btn-primary' href=link) Click here to reset your password
  |
  p Or copy the link below and paste in your browser
  a(href=link) #{link}
  |
  p Ignore this mail if you did not initiate the request.
  p - Carus Recycling
